<html>
<head>
    <title>PCOS Prediction Result</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-container {
            background-color: rgba(0, 175, 0, 0.7); /* Red background with opacity */
            border-radius: 15px; /* Rounded edges */
            padding: 20px; /* Add padding for spacing */
        }
    </style>
</head>
<body>
    <br>
    <div class="container">
        <div class="custom-container">
            <center><h2 class="text-black">Hurrah!! Seems like you don't have PCOS</h2></center>
        </div>
    </div>
    <br>
    <center><div class="tenor-gif-embed" data-postid="17542140" data-share-method="host" data-aspect-ratio="1" data-width="20%"><a href="https://tenor.com/view/beaming-face-with-smiling-eyes-joypixels-smiling-smirking-grinning-gif-17542140">Beaming Face With Smiling Eyes Joypixels Sticker</a>from <a href="https://tenor.com/search/beaming+face+with+smiling+eyes-stickers">Beaming Face With Smiling Eyes Stickers</a></div> </center>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <div class="container mt-5">
        <center> <h3> If you have further doubts, you can visit a gynaecologist for assurance. </h3> </center>
    </div>
    <br>
    <script>
        function clearFormInputs() {
            // Replace 'formID' with the actual ID of your form
            var form = document.getElementById('pcosForm');
            form.reset();
        }

        // Execute the clearFormInputs function when the page is loaded
        window.addEventListener('pageshow', function (event) {
            // Check if the page is being loaded from the bfcache (back-forward cache)
            if (event.persisted) {
                clearFormInputs();
            }
        });
    </script>
</body>
</html>
